.Navbar {
    margin-top: 56px;
    padding-top: 30px;
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #3F9BCB;
    font-size: 25px;
}

.Dashboard, .Upload, .Projects, .Shared {
    padding: 0px 0px 11px 0px;
}

.Dashboard:hover, .Upload:hover, .Projects:hover, .Shared:hover {
    text-decoration: underline;
}

a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:active, a:hover {
    color: rgba(63, 154, 203, 0.253);
}
