.Navbar {
    margin-top: 56px;
    padding-top: 30px;
    height: 100%;
    width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #3F9BCB;
    font-size: 25px;
}

.Dashboard, .Upload, .Projects, .Shared {
    padding: 0px 0px 11px 0px;
}

.Dashboard:hover, .Upload:hover, .Projects:hover, .Shared:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:active, a:hover {
    color: rgba(63, 154, 203, 0.253);
}

.DashboardIcon, .UploadIcon, .ProjectsIcon, .SharedwithmeIcon {
    top: 9px;
    height: 38px;
    width: 38px;
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
}

.DashboardIcon:hover, .UploadIcon:hover, .ProjectsIcon:hover, .SharedwithmeIcon:hover {
    transform: scale(1.3);
}