.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 35%;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 35%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Name
{
    margin-bottom: 12px;
    background-color: #61c9ff;
    text-align: center;
    color: #ffffff;
}
