.Sharedwithme
{
    margin-top: 67px;
    position: relative;
    font-size: 30px;
    color: #3F9BCB;
    margin-bottom: 5px;
    left: 50px;
}

.Projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-left:40px;
}

