.Content {
    height: 100%;
    width: 100%;
    position:fixed;
    top: 56px;
    left: 300px;
    background-color: #EBF0F9;
    padding-left: 30px;
}

.MenuIcon {
    width: 36px;
    height: 32px;
    top: 14px;
    left: 33px;
    position: fixed;
}