.Yourproj
{
    margin-top: 67px;
    position: relative;
    font-size: 30px;
    color: #3F9BCB;
    margin-bottom: 5px;
    left: 47px;
}

.Projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-left:40px;
}

.Project {
    width: 200px;
    height: 169px;
    padding: 28px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 4px dashed #3F9BCB;
    vertical-align: middle;
    text-align: center;
    color: #3F9BCB;
    font-size: 45px;
    cursor: default;
    user-select:none;
    line-height: 100px;
}

.Project:hover,
.Project:active {
    transform: scale(0.9);
}

.Menu
{
    position: relative;
    width: 200px;
    height: 28px;
    left: 10px;
    top: 10px;
    background-color: #66bfed;
}

.AddpeopleIcon , .TrashIcon
{
    margin-top: 4px;
    margin-right: 3px;
    width: 24px;
    height: 20px;
    float: right;
    margin-left: 2px;
}

.AddpeopleIcon
{
    margin-top: 1px;
    height: 25px;
}