.Button {
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 7px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
  float: right;
}

.Button:disabled {
  color: white;
  cursor: not-allowed;
  background-color: #ccc;
}

.Success {
  background-color: #3f9bcb;
  left: -68px;
}

.Danger {
  background-color: #ff5533;
  left: 92px;
}

.Editproj {
  background-color: #ff5533;
  left: 72px;
}

.Logout {
  background-color: #ff5533;
  float: none;
}

.DangerEmail {
  background-color: #ff5533;
  left: 69px;
}

.SuccessPubkey {
  background-color: #ff5533;
  width: 30px;
  padding: 0;
  height: 30px;
  left: 10px;
}

.Successdeletegroup {
  background-color: #3f9bcb;
  left: -56px;
}

.Successaddgroup {
  background-color: #3f9bcb;
  left: -73px;
}

.Successaddkeyword {
  left: -68px;
  background-color: #007bff;
}

.Searchmultikey{
  float:right;
  background-color: #007bff;
}

.Cancletopic {
  background-color: #ff5533;
  left: 75px;
  margin-top: 0px;
}

.Save {
  left: 0px;
  background-color: #007bff;
}

.Starttopic {
  background-color: #3f51b5;
  left: -95px;
  margin-top: 0px;
}


.Next {
  background-color: #3f51b5;
  position: absolute;
  left:81px;
  margin-top: 0px;
}