.Header {
    height: 56px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #3F9BCB;
    display: flex;
    align-items: center;
    color: white;
    z-index:1;
}

.DocRR {
    position: relative;
    left: 80px;
    font-size: 27px;
    cursor: default;
    text-shadow: 2px 2px 4px #000000;
}

.Name {
    position: absolute;
    right: 80px;
}

.Auth {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 44px;
    height: 32px;
}

.Auth:hover {
    transform: scale(1.2);
}

.MenuIcon {
    width: 36px;
    height: 32px;
    top: 14px;
    left: 33px;
    position: fixed;
}