.Header {
    height: 56px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #3F9BCB;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

.DocRR {
    position: absolute;
    left: 80px;
    font-size: 35px;
}

.Name {
    position: absolute;
    right: 80px;
}

.Auth {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 44px;
    height: 32px;
}

.Auth:hover {
    transform: scale(1.2);
}

