
.Pleaselogin {
    margin-top: 67px;
    padding: 206px;
    font-size: 65px;
    text-align: center;
    color: #66bfed;  
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline; 
}

.Pleaselogin:hover {
    transform: scale(0.9);
}