.Projects {
    width: 200px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    height: 150px;
    color: #3F9BCB;
    background-color:#C0DDF5;
}

.Projects:hover,
.Projects:active {
    background-color: #ffffff;
}
