.Projects {
    text-align: center;
    box-shadow: 10px #333;
    cursor: pointer;
    height: 150px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    box-sizing: border-box;
    width:200px;
    background-color:#C0DDF5;
    float: left;
    margin: 10px;
    text-align: center;
    color: #3F9BCB;
    word-wrap: break-word; 
    vertical-align:middle;
    font-weight: bold;
    margin-top:0px;
    font-size:20px;
}

.Projects:hover,
.Projects:active {
    background-color: #ffffff;
}

.Menu {
    position: relative;
    width: 200px;
    height: 28px;
    left: 10px;
    top: 10px;
    background-color: #66bfed;
}

.AddpeopleIcon , .TrashIcon {
    margin-top: 4px;
    margin-right: 3px;
    width: 24px;
    height: 20px;
    float: right;
    margin-left: 2px;
}

.AddpeopleIcon {
    margin-top: 1px;
    height: 25px;
}

.Project {
    width: 200px;
    height: 169px;
    padding: 28px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 4px dashed #3F9BCB;
    vertical-align: middle;
    text-align: center;
    color: #3F9BCB;
    font-size: 45px;
    cursor: default;
    user-select:none;
    line-height: 100px;
}

.Project:hover,
.Project:active {
    transform: scale(0.9);
}

.Delete {
    font-size: 22px;
    text-align: center;
}